includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        -   
            rawMessage: 'Static method Illuminate\Http\Client\Factory::preventingStrayRequests() invoked with 1 parameter, 0 required.'
            path: app/Providers/AppServiceProvider.php